<li class="list-group-item">
	{{burger_name}}
	{{#if devour}}
		<button class="devour-btn btn btn-outline-primary btn-sm float-end" data-id="{{id}}">
			<i class="material-icons fs-2">restaurant</i>
		</button>
		{{else}}
		<button class="delete-btn btn btn-outline-danger btn-sm float-end" data-id="{{id}}">
			<i class="material-icons fs-2">clear</i>
		</button>
	{{/if}}
</li>
